*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    height: 100vh;
}